<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>webDynamicProject</display-name>
  <display-name>Wazabi</display-name>
  <context-param>
    <param-name>email</param-name>
    <param-value>wazabi@ipl.be</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
      <taglib-location>/WEB-INF/tld/c.tld</taglib-location>
    </taglib>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/jspf/header.jspf</include-prelude>
      <include-coda>/WEB-INF/jspf/footer.jspf</include-coda>
    </jsp-property-group>
  </jsp-config>
  <servlet>
    <servlet-name>index.html</servlet-name>
    <jsp-file>/WEB-INF/jsp/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>index.html</servlet-name>
    <url-pattern>/index.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>inscription.html</servlet-name>
    <jsp-file>/WEB-INF/jsp/inscription.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>inscription.html</servlet-name>
    <url-pattern>/inscription.html</url-pattern>
  </servlet-mapping>
</web-app>